<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
</head>

<body style="margin: 0; padding: 0">
	<div style="
				min-height: 100vh;
				background-color: #f6f7ff;
				padding-top: 50px;
				padding-bottom: 50px;
				font-family: 'Rubik', sans-serif;
				font-size: 14px;
				line-height: 23px;
			">
		<div style="width: 600px; margin: 0 auto; background: #ffffff">
			<table style="width: 100%; text-align: center; border-spacing: 0px; background-color: #224bb51c">
				<tr>
					<td style="padding: 35px; background: #8299d51c">
						<a href="#">
							<!-- <img
									src="https://BOU.appdemoserver.com/images/Logo.png"
									style="width: 250px; height: 60px; object-fit: contain"
								/> -->
						</a>
					</td>
				</tr>
			</table>
			<table style="width: 100%; border-spacing: 0px; padding: 40px 40px 25px 40px">
				<tr style="width: 100%">
					<td>
						<h1 style="
									margin: 0;
									font-family: 'Heebo', sans-serif;
									font-weight: 700;
									font-size: 25px;
									line-height: 44px;
									color: #0071f8;
									letter-spacing: 0.03em;
									text-align: center;
									padding-bottom: 20px;
								">
							TEACHER APPROVAL REQUEST
						</h1>
					</td>
				</tr>
				<tr style="width: 100%">
					<td><strong>Dear <%= username %> ,</strong><br /></td>
				</tr>
				<tr style="width: 100%">
					<td>
						<p style="
									padding-top: 10px;
									margin: 0;
									font-family: 'Poppins', sans-serif;
									font-weight: 400;
									font-size: 14px;
									line-height: 20px;
									color: #1d203c;
									letter-spacing: 0.25px;
								">
							Exciting news! We Have received an approval request for teacher role. Kindly Approve it by
							visiting our portal. </strong></span>
						</p>
					</td>
				</tr>
				<tr style="width: 100%">
					<td>
						<p style="
									padding-top: 10px;
									margin: 0;
									font-family: 'Poppins', sans-serif;
									font-weight: 400;
									font-size: 14px;
									line-height: 20px;
									color: #1d203c;
									letter-spacing: 0.25px;
								"></p>
					</td>
				</tr>
				<tr style="width: 100%">
					<td>
						<p style="
									padding-top: 30px;
									margin: 0;
									font-family: 'Poppins', sans-serif;
									font-weight: 400;
									font-size: 14px;
									line-height: 20px;
									color: #1d203c;
									letter-spacing: 0.25px;
								">
							<span>Thank you</span>
						</p>
					</td>
				</tr>
				<!-- <tr style="width: 100%;text-align: center;">
                    <td>
                        <a href="#"
                            style="display: inline-block;margin-top: 40px;text-decoration: none;background: #423FD1;border-radius: 100px;font-weight: 600;font-size: 18px;line-height: 24px;color: #F5F6F2;padding: 16px 30px;font-family: 'Poppins', sans-serif;">Verify
                            email address</a>
                    </td>
                </tr> -->
			</table>

			<table style="background: #3369fd; width: 100%; border-spacing: 0px; padding: 40px">
				<tr>
					<td>
						<table style="width: 100%; text-align: center">
							<tr>
								<td>
									<span style="color: white">Copyright © LRED</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>